@charset "utf-8";

/* 基本要素 */
body {
  background-color: #fdfffa;
  color: #222222;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* リンク */
a {
  color: #0088cc;
  text-decoration: none;
}
a:hover, a:focus {
  /* マウスオーバーした時 */
  color: #005580;
  text-decoration: underline;
}

h1, h2, h3 {
  font-weight: normal;
}

h1 {
  margin: 0;
}

h2 {
  font-size: 26px;
  text-align: center;
}

dd {
  margin-bottom: 25px;
}

.container {
  /* 左右をautoにするとボックスが中央になる */
  margin: 0 auto;
  /* 横幅960px */
  width: 960px;
}

/* ヘッダー */
header {
  background-color: #333333;
  color: #e1e1e1;
  font-size: 14px;
  padding: 5px 0;
}
header a {
  color: #e1e1e1;
}
header a:hover, header a:focus {
  color: white;
  text-decoration: none;
}
header h1 {
  /* サイト名は左に */
  float: left;
}
header nav {
  /* ナビゲーションは右に */
  float: right;
}
header .container:before, header .container:after {
  content: " ";
  display: table;
}
header .container:after {
  clear: both;
}

/* ナビゲーション */
.main-nav {
  list-style: none;
  margin: 0;
  padding-top: 6px;
}
.main-nav li {
  /* <ul>リストを横並びにする */
  display: inline-block;
  margin-left: 10px;
}

/* サイトタイトル */
.brand {
  font-size: 20px;
}

/* フッター */
footer {
  background-color: #ccc;
  border-top: 1px solid #bfbfbf;
  padding: 15px 0;
  text-align: center;
}

/* メインビジュアル */
.main-visual {
  background-color: #fdfffa;
  color: #222222;
  text-align: center;
  text-shadow: 0px 0px 6px #fff;
  /* キャッチフレーズ */
}
.main-visual .container {
  /* メインビジュアル画像 背景として設定 */
  background: #fdfffa url("../img/zoomix.jpg") no-repeat center;
  /* 画像が隠れてしまうので画像分の高さを確保 */
  height: 540px;
}
.main-visual h1 {
  font-size: 64px;
  padding-top: 120px;
}

/* ボタン */
.btn {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  display: inline-block;
  font-size: 22px;
  margin-bottom: 0;
  padding: 10px 50px;
  text-align: center;
}
.btn:hover, .btn:focus, .btn:active {
  background-color: #ebebeb;
  border-color: #adadad;
  color: #333;
  text-decoration: none;
}

/* 特徴3つ */
.features {
  margin-bottom: 3em;
  font-size: 14px;
}
.features h2 {
  font-size: 20px;
}
.features .container:before, .features .container:after {
  content: " ";
  display: table;
}
.features .container:after {
  clear: both;
}

.feature {
  padding: 10px;
  /* 各ボックスの横幅 左右にpadding:10pxをとっているので、widthは20px引いて300pxとなる */
  width: 300px;
  /* ボックスを横並びにする */
  float: left;
}

/* よくある質問 */
.faq-list dt {
  font-size: 18px;
}
.faq-list dt:before {
  /* <dt>の前に"Q."と表示 */
  content: 'Q.';
  font-size: 28px;
  font-weight: bold;
}
.faq-list dd {
  margin-left: 0;
}
.faq-list dd:before {
  /* <dt>の前に"A."と表示 */
  content: 'A.';
  font-size: 28px;
  font-weight: bold;
}
