@charset "UTF-8";

/* 基本 */
body {
  background-color: #111111;
  color: #ca4529;
  font-family: "Noto Sans Japanese", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

h1 {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 0;
}

h1 + p {
  margin-top: 6px;
}

img {
  height: auto;
  max-width: 100%;
}

/* レイアウト */
.container {
  width: 80%;
  margin: 0 auto;
}

footer {
  padding-bottom: 20px;
}

/* スライド */
.slide {
  margin: 50px 20px 35px;
}

/* 画像リスト */
.image-list:before, .image-list:after {
  content: " ";
  display: table;
}
.image-list:after {
  clear: both;
}

.image-wrap {
  width: 50%;
  float: left;
}
.image-wrap > * {
  margin: 20px;
}

/* サムネイル */
.thumbnail {
  display: block;
  border: 1px solid #333333;
  transition: border-color .3s ease-in-out;
}
.thumbnail img {
  display: block;
  margin: auto;
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: gray;
}
