<a href="/logout">ログアウト</a>
<a href="/">タイムライン</a>

<dl>
  <% @favorites.each do |t| %>
    <h2><%= "#{t[:user].name} @#{t[:user].screen_name}" %> がお気に入り</h2>
    <% t[:favorites].each do |fav| %>
      <dt><%= "#{fav.user.name} @#{fav.user.screen_name}" %></dt>
      <dd><%= fav.text %></dd>
    <% end %>
  <% end %>
</dl>
