<a href="/logout">ログアウト</a>
<a href="/favorites">フォローしている人のお気に入り</a>

<% @tweets.each do |t| %>
  <blockquote class="twitter-tweet">
    <%= "#{t.user.name} @#{t.user.screen_name}" %>
    <a href="<%= t.url %>"><%= t.created_at %></a>
    <p><%= t.text %></p>
  </blockquote>
<% end %>
