<a href="/logout">ログアウト</a>
<dl>
<% session[:user].each do |key, value| %>
  <dt><%= key %></dt>
  <dd><%= value %></dd>
<% end %>
</dl>
<dl>
<% @tweets.each do |t| %>
  <dt><%= t.user.name %></dt>
  <dd><%= t.text %></dd>
<% end %>
</dl>
