<a href="/logout">ログアウト</a>
<a href="/favorites">フォローしている人のお気に入り</a>

<dl>
  <% @tweets.each do |t| %>
    <dt><%= "#{t.user.name} @#{t.user.screen_name}" %></dt>
    <dd><%= t.text %></dd>
  <% end %>
</dl>
