<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Webデザイン課題 第3回</title>
    <link rel="stylesheet" href="css/main.css">
    <!-- JavaScript -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="js/main.js"></script>
  </head>
  <body>
    <div id="wrap">
<%= yield %>
    </div>
  </body>
</html>
